# R Data Types

Let's discuss some basic data types in R.

## Numerics
Decimal (floating point values) are part of the numeric class in R

In [35]:
n <- 2.2
n
class(n)

[1] 2.2

[1] "numeric"

## Integers
Natural (whole) numbers are known as integers and are also part of the numeric class

In [38]:
i <- 5
class(i)

[1] "numeric"

## Logical
Boolean values (True and False) are part of the logical class. In R, these are written in ALL CAPS or T or F.

In [46]:
a <- TRUE
b <- FALSE
c <- T
d <- F

In [48]:
a

[1] TRUE

In [49]:
d

[1] FALSE

## Characters
Text/string values are known as characters in R. You will have to use quotation marks to create a text character string. Both single quotes ' and double quotes " can be used.

In [53]:
character <- 'Hello World!'
character

[1] "Hello World!"

In [54]:
#We can use double quotes here
c <- "Double quotes!"
c

[1] "Double quotes!"

## Checking Data Type Classes
You can use the class function to check the data type of a variable.

In [57]:
class(n)

[1] "numeric"

In [58]:
class(d)

[1] "logical"

In [59]:
class(character)

[1] "character"

Those are some of the basic data types in R. Next we will learn about one of the main data building blocks of R, the vector!