# Data Frame Selection and Indexing

We've seen how to call build-in data frames and how to create the using the data.frame() function along with vectors. Let's revisit our weather data frame and learn to select elements from within the data frame usng the bracket notation.

In [1]:
# lets make a dataframe!
days <- c('Mon','Tues','Wed','Thur','Fri','Sat','Sun')
temp <- c(78,79,65,68,65,70,71)
rain <- c(TRUE,FALSE,FALSE,FALSE,TRUE,FALSE,TRUE)
weather <- data.frame(days,temp,rain)
weather

  days temp rain
1 Mon  78    TRUE
2 Tues 79   FALSE
3 Wed  65   FALSE
4 Thur 68   FALSE
5 Fri  65    TRUE
6 Sat  70   FALSE
7 Sun  71    TRUE

We can use the bracket notation we used for matrices:

dataframe[rows,columns]

In [4]:
# We can pull the first row the same as we would pull the row from a matrix
weather[1,]

  days temp rain
1 Mon  78   TRUE

In [11]:
# Let's pull the 2nd column
weather[,2]

[1] 78 79 65 68 65 70 71

In [12]:
# Let's grab Fridays data
weather[5,]

  days temp rain
5 Fri  65   TRUE

## Selecting Data using Column Names

Here's where data frames become very powerful. We can use column names to select data for the columns instead of having to remember the index number. Here's an example

In [13]:
# Let's pul all the rain values
weather[,'rain']

[1]  TRUE FALSE FALSE FALSE  TRUE FALSE  TRUE

In [14]:
# We can pull data using a vector. Now we can get only days and temps. 
weather[1:5,c('days','temp')]

  days temp
1 Mon  78
2 Tues 79
3 Wed  65
4 Thur 68
5 Fri  65

If you want all the values of a particular column, you can use the dollar sign $ directly after the data frame name. Here's an example

df.name$column.name

In [15]:
weather$days #we can pull the entire column by using the $ 
weather$temp
weather$rain

[1] Mon  Tues Wed  Thur Fri  Sat  Sun
Levels: Fri Mon Sat Sun Thur Tues Wed

[1] 78 79 65 68 65 70 71

[1]  TRUE FALSE FALSE FALSE  TRUE FALSE  TRUE

## Filtering with a Subset Condition

We can use the subset() function to  grab a subset of values from our data frame based off some conditions. For example, imagine we wanted to grab the days where it rained (rain = TRUE), we can use the subset() function as follows

In [16]:
subset(weather,subset = rain == TRUE)

  days temp rain
1 Mon  78   TRUE
5 Fri  65   TRUE
7 Sun  71   TRUE

See ow the condition uses some sort of comparison operator? In the case above we use == . Let's grab days where it was above 70 degrees

In [18]:
subset(weather,subset = temp > 70)

  days temp rain
1 Mon  78    TRUE
2 Tues 79   FALSE
7 Sun  71    TRUE

Something worth noting is that we didn't pass in the column name as a string. The subset identified the column we were referring to in the data frame.

## Ordering a Data Frame

We can sort the order of our data frame by using the order function. You can pass in the column you want to sort by into the order() function, then you can use that vector to select from the data frame. Let's try to sort our data frame by temperature.

In [19]:
sorted.by.temp <- order(weather['temp'])

In [20]:
# Now we can use this vector to sort our data frame by passing it through the data frame
weather[sorted.by.temp,]

  days temp rain
3 Wed  65   FALSE
5 Fri  65    TRUE
4 Thur 68   FALSE
6 Sat  70   FALSE
7 Sun  71    TRUE
1 Mon  78    TRUE
2 Tues 79   FALSE

What does sorted.by.temp look like?

In [21]:
sorted.by.temp

[1] 3 5 4 6 7 1 2

That makes sense. We are just asking to return the elements in that order. (by default it is set to ascending. We can pass a negative sign to do a descending order)

In [26]:
descending.temp <- order(-weather['temp'])
weather[descending.temp,] # Don't forget we are calling the row number when doing this!

  days temp rain
2 Tues 79   FALSE
1 Mon  78    TRUE
7 Sun  71    TRUE
6 Sat  70   FALSE
4 Thur 68   FALSE
3 Wed  65   FALSE
5 Fri  65    TRUE

We can also use the subset notation since it is easier and requires less brackets.

In [30]:
sort.temperature <- order(weather$temp)
weather[sort.temperature,]

  days temp rain
3 Wed  65   FALSE
5 Fri  65    TRUE
4 Thur 68   FALSE
6 Sat  70   FALSE
7 Sun  71    TRUE
1 Mon  78    TRUE
2 Tues 79   FALSE

We can add a negative sign again in front of the column name

In [31]:
sort.temperature <- order(-weather$temp)
weather[sort.temperature,]

  days temp rain
2 Tues 79   FALSE
1 Mon  78    TRUE
7 Sun  71    TRUE
6 Sat  70   FALSE
4 Thur 68   FALSE
3 Wed  65   FALSE
5 Fri  65    TRUE

That's it for data frames! We will definitely revisit this and explore data frames A LOT more, but we should test you understanding first! Up next an exercise!