In [1]:
#### lets make a dataframe!
days <- c('Mon','Tues','Wed','Thur','Fri','Sat','Sun')
temp <- c(78,79,65,68,65,70,71)
rain <- c(TRUE,FALSE,FALSE,FALSE,TRUE,FALSE,TRUE)
weather <- data.frame(days,temp,rain)
weather

  days temp rain
1 Mon  78    TRUE
2 Tues 79   FALSE
3 Wed  65   FALSE
4 Thur 68   FALSE
5 Fri  65    TRUE
6 Sat  70   FALSE
7 Sun  71    TRUE

In [9]:
weather[1,] #we can pull the first row the same as we would pull the row from a matrix
weather[,'rain'] # in data frames, we can pull elements that have non-numeric values

  days temp rain
1 Mon  78   TRUE

[1]  TRUE FALSE FALSE FALSE  TRUE FALSE  TRUE

In [11]:
weather[1:5,c('days','temp')] #we can pull data using a vector. Now we can get only days and temps.

  days temp
1 Mon  78
2 Tues 79
3 Wed  65
4 Thur 68
5 Fri  65

In [14]:
weather$days #we can pull the entire column by using the $ 
weather$temp
weather$rain

[1] Mon  Tues Wed  Thur Fri  Sat  Sun
Levels: Fri Mon Sat Sun Thur Tues Wed

[1] 78 79 65 68 65 70 71

[1]  TRUE FALSE FALSE FALSE  TRUE FALSE  TRUE

In [17]:
#### let's only grab days where it rained. We can use the subset() condition to do that
subset(weather,subset = rain == TRUE)

  days temp rain
1 Mon  78   TRUE
5 Fri  65   TRUE
7 Sun  71   TRUE

In [18]:
#### let's only grab days when it was above 70 degrees
subset(weather,subset = temp > 70)

  days temp rain
1 Mon  78    TRUE
2 Tues 79   FALSE
7 Sun  71    TRUE

In [21]:
#### we can sort our data frame by using the order() function
sorted.by.temp <- order(weather['temp'])
sorted.by.temp #this will diplay the order of the values by their index values

[1] 3 5 4 6 7 1 2

In [24]:
#### Now we can use this vector to sort our data frame by passing it through the data frame
weather[sorted.by.temp,]

  days temp rain
3 Wed  65   FALSE
5 Fri  65    TRUE
4 Thur 68   FALSE
6 Sat  70   FALSE
7 Sun  71    TRUE
1 Mon  78    TRUE
2 Tues 79   FALSE