In [4]:
#### data frames are the work horse of R, so be sure to understand all the following topics
#### #1 Creating Data Frames
#### #2 Importing and Exporting Data
#### #3 Getting Information about Data Frames
#### #4 Referencing Cells
#### #5 Referencing Rows
#### #6 Referencing Columns
#### #7 Adding Rows
#### #8 Adding Columns
#### #9 Setting Column Names
#### #10 Selecting Multiple Rows
#### #11 Selecting Multiple Columns
#### #12 Dealing with Missing Data

In [5]:
#### #1 Creating Data Frames
#lets first create an empty data frame
empty <- data.frame()

In [28]:
# lets now create a vector 
c1 <-  runif(10)

In [29]:
#we can use the built in vector 'letters' to make the next vector
c2 <- letters[1:10]

In [30]:
c1
c2

 [1] 0.38338091 0.69682516 0.20176775 0.69023435 0.02096354 0.14099527
 [7] 0.24402258 0.79013028 0.60132246 0.96245307

 [1] "a" "b" "c" "d" "e" "f" "g" "h" "i" "j"

In [31]:
# lets make our data frame and name the columns
df <- data.frame("numbers" = c1, "letters" = c2) 
df

   numbers    letters
1  0.38338091 a
2  0.69682516 b
3  0.20176775 c
4  0.69023435 d
5  0.02096354 e
6  0.14099527 f
7  0.24402258 g
8  0.79013028 h
9  0.60132246 i
10 0.96245307 j

In [33]:
#### #2 Importing and Exporting Data
write.csv(df,file = 'saved_df.csv') #this will save the csv file to the hard drive
df2 <- read.csv('saved_df.csv') # this will assign a new variable the csv data frame file
df2

   X  numbers    letters
1   1 0.38338091 a
2   2 0.69682516 b
3   3 0.20176775 c
4   4 0.69023435 d
5   5 0.02096354 e
6   6 0.14099527 f
7   7 0.24402258 g
8   8 0.79013028 h
9   9 0.60132246 i
10 10 0.96245307 j

In [34]:
### #3 Getting information about the dataframe
# Lets say we want to know the number of column and rows
# we can use the nrow() and ncol() function to check both values

In [35]:
nrow(df) #these won't provide the names for the columns and row, just the values
ncol(df)

[1] 10

[1] 2

In [41]:
colnames(df2)
rownames(df2) #be careful with this because this can be a massive amount of data depending on how much your data frame contains
#if you've already imported data from a csv, this will just return the number from which row the data came from

[1] "X"       "numbers" "letters"

 [1] "1"  "2"  "3"  "4"  "5"  "6"  "7"  "8"  "9"  "10"

In [42]:
str(df)

'data.frame':	10 obs. of  2 variables:
 $ numbers: num  0.383 0.697 0.202 0.69 0.021 ...
 $ letters: Factor w/ 10 levels "a","b","c","d",..: 1 2 3 4 5 6 7 8 9 10

In [43]:
summary(df) #the numbers column is significant, but the letters column will just return one value for each letter

    numbers           letters
 Min.   :0.02096   a      :1
 1st Qu.:0.21233   b      :1
 Median :0.49235   c      :1
 Mean   :0.47321   d      :1
 3rd Qu.:0.69518   e      :1
 Max.   :0.96245   f      :1
                   (Other):4

In [45]:
#### #4 Referencing Cells
df
df[5,2] #the same notation as calling a value as a matrix, but not incredbly useful since we would have to know the column id#

   numbers    letters
1  0.38338091 a
2  0.69682516 b
3  0.20176775 c
4  0.69023435 d
5  0.02096354 e
6  0.14099527 f
7  0.24402258 g
8  0.79013028 h
9  0.60132246 i
10 0.96245307 j

[1] e
Levels: a b c d e f g h i j

In [49]:
df[5,'numbers'] #this will call the value on the 5th row under the 'numbers' column

[1] 0.02096354

In [52]:
#lets change that number using an assignment
df[[2,'numbers']] <- 999
df

   numbers      letters
1    0.38338091 a
2  999.00000000 b
3    0.20176775 c
4    0.69023435 d
5    0.02096354 e
6    0.14099527 f
7    0.24402258 g
8    0.79013028 h
9    0.60132246 i
10   0.96245307 j

In [53]:
#### #5 Referencing Rows
#referencing a row is similar to referencing a cell, you just don't need double bracket notation

In [55]:
df[3,]

  numbers   letters
3 0.2017678 c

In [56]:
#### #6 Referencing Columns
# lets use a different data frame for this example
head(mtcars)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [64]:
mtcars$mpg # This is how you can get a vector back. This is the most common way
mtcars[,'mpg'] # this is a similar way to pull the column 
mtcars[['mpg']]
mtcars['mpg'] #this will add the name value of the data frame

 [1] 21.0 21.0 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 17.8 16.4 17.3 15.2 10.4
[16] 10.4 14.7 32.4 30.4 33.9 21.5 15.5 15.2 13.3 19.2 27.3 26.0 30.4 15.8 19.7
[31] 15.0 21.4

 [1] 21.0 21.0 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 17.8 16.4 17.3 15.2 10.4
[16] 10.4 14.7 32.4 30.4 33.9 21.5 15.5 15.2 13.3 19.2 27.3 26.0 30.4 15.8 19.7
[31] 15.0 21.4

 [1] 21.0 21.0 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 17.8 16.4 17.3 15.2 10.4
[16] 10.4 14.7 32.4 30.4 33.9 21.5 15.5 15.2 13.3 19.2 27.3 26.0 30.4 15.8 19.7
[31] 15.0 21.4

                    mpg
Mazda RX4           21.0
Mazda RX4 Wag       21.0
Datsun 710          22.8
Hornet 4 Drive      21.4
Hornet Sportabout   18.7
Valiant             18.1
Duster 360          14.3
Merc 240D           24.4
Merc 230            22.8
Merc 280            19.2
Merc 280C           17.8
Merc 450SE          16.4
Merc 450SL          17.3
Merc 450SLC         15.2
Cadillac Fleetwood  10.4
Lincoln Continental 10.4
Chrysler Imperial   14.7
Fiat 128            32.4
Honda Civic         30.4
Toyota Corolla      33.9
Toyota Corona       21.5
Dodge Challenger    15.5
AMC Javelin         15.2
Camaro Z28          13.3
Pontiac Firebird    19.2
Fiat X1-9           27.3
Porsche 914-2       26.0
Lotus Europa        30.4
Ford Pantera L      15.8
Ferrari Dino        19.7
Maserati Bora       15.0
Volvo 142E          21.4

In [65]:
mtcars[c('mpg','cyl')] #if you want to pull multiple columns

                    mpg  cyl
Mazda RX4           21.0 6
Mazda RX4 Wag       21.0 6
Datsun 710          22.8 4
Hornet 4 Drive      21.4 6
Hornet Sportabout   18.7 8
Valiant             18.1 6
Duster 360          14.3 8
Merc 240D           24.4 4
Merc 230            22.8 4
Merc 280            19.2 6
Merc 280C           17.8 6
Merc 450SE          16.4 8
Merc 450SL          17.3 8
Merc 450SLC         15.2 8
Cadillac Fleetwood  10.4 8
Lincoln Continental 10.4 8
Chrysler Imperial   14.7 8
Fiat 128            32.4 4
Honda Civic         30.4 4
Toyota Corolla      33.9 4
Toyota Corona       21.5 4
Dodge Challenger    15.5 8
AMC Javelin         15.2 8
Camaro Z28          13.3 8
Pontiac Firebird    19.2 8
Fiat X1-9           27.3 4
Porsche 914-2       26.0 4
Lotus Europa        30.4 4
Ford Pantera L      15.8 8
Ferrari Dino        19.7 6
Maserati Bora       15.0 8
Volvo 142E          21.4 4

In [ ]:
#### #7 Adding Rows

In [73]:
df3 <- data.frame('numbers' = 2000, 'letters' = 'z')
df3
df

  numbers letters
1 2000    z

   numbers      letters
1    0.38338091 a
2  999.00000000 b
3    0.20176775 c
4    0.69023435 d
5    0.02096354 e
6    0.14099527 f
7    0.24402258 g
8    0.79013028 h
9    0.60132246 i
10   0.96245307 j

In [76]:
dfnew <- rbind(df,df3)
dfnew

   numbers      letters
1  3.833809e-01 a
2  9.990000e+02 b
3  2.017678e-01 c
4  6.902343e-01 d
5  2.096354e-02 e
6  1.409953e-01 f
7  2.440226e-01 g
8  7.901303e-01 h
9  6.013225e-01 i
10 9.624531e-01 j
11 2.000000e+03 z

In [77]:
#### #8 Adding Columns
dfnew$newcol <- round(200*dfnew$numbers,1)

In [78]:
dfnew

   numbers      letters newcol
1  3.833809e-01 a           76.7
2  9.990000e+02 b       199800.0
3  2.017678e-01 c           40.4
4  6.902343e-01 d          138.0
5  2.096354e-02 e            4.2
6  1.409953e-01 f           28.2
7  2.440226e-01 g           48.8
8  7.901303e-01 h          158.0
9  6.013225e-01 i          120.3
10 9.624531e-01 j          192.5
11 2.000000e+03 z       400000.0

In [82]:
#### #9 Setting Column Names
colnames(dfnew)
colnames(dfnew) <- c('Numbers new name', 'letters new name',"200x rounded") # if we want to rename all the columns
dfnew

[1] "Numbers new name" "letters new name" "200x rounded"

   Numbers new name letters new name 200x rounded
1  3.833809e-01     a                    76.7
2  9.990000e+02     b                199800.0
3  2.017678e-01     c                    40.4
4  6.902343e-01     d                   138.0
5  2.096354e-02     e                     4.2
6  1.409953e-01     f                    28.2
7  2.440226e-01     g                    48.8
8  7.901303e-01     h                   158.0
9  6.013225e-01     i                   120.3
10 9.624531e-01     j                   192.5
11 2.000000e+03     z                400000.0

In [84]:
colnames(dfnew)[1] <- 'small numbers'
colnames(dfnew)[3] <- 'large numbers'
dfnew

   small numbers letters new name large numbers
1  3.833809e-01  a                    76.7
2  9.990000e+02  b                199800.0
3  2.017678e-01  c                    40.4
4  6.902343e-01  d                   138.0
5  2.096354e-02  e                     4.2
6  1.409953e-01  f                    28.2
7  2.440226e-01  g                    48.8
8  7.901303e-01  h                   158.0
9  6.013225e-01  i                   120.3
10 9.624531e-01  j                   192.5
11 2.000000e+03  z                400000.0

In [85]:
#### #10 Selecting Multiple Rows

In [87]:
dfnew[1:3,] ##selects the rows 1,2,3

  small numbers letters new name large numbers
1   0.3833809   a                    76.7
2 999.0000000   b                199800.0
3   0.2017678   c                    40.4

In [91]:
dfnew[(-2),] #selects everything BUT the second row

   small numbers letters new name large numbers
1  3.833809e-01  a                    76.7
3  2.017678e-01  c                    40.4
4  6.902343e-01  d                   138.0
5  2.096354e-02  e                     4.2
6  1.409953e-01  f                    28.2
7  2.440226e-01  g                    48.8
8  7.901303e-01  h                   158.0
9  6.013225e-01  i                   120.3
10 9.624531e-01  j                   192.5
11 2.000000e+03  z                400000.0

In [92]:
head(mtcars,3)

              mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4     21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag 21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710    22.8 4   108   93 3.85 2.320 18.61 1  1  4    1

In [97]:
#Lets try conditional selection
mtcars[ mtcars$mpg < 15 , ]

                    mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Duster 360          14.3 8   360  245 3.21 3.570 15.84 0  0  3    4
Cadillac Fleetwood  10.4 8   472  205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460  215 3.00 5.424 17.82 0  0  3    4
Chrysler Imperial   14.7 8   440  230 3.23 5.345 17.42 0  0  3    4
Camaro Z28          13.3 8   350  245 3.73 3.840 15.41 0  0  3    4

In [103]:
mtcars[ (mtcars$mpg > 20) & (mtcars$cyl == 6), ]

               mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4      21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag  21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Hornet 4 Drive 21.4 6   258  110 3.08 3.215 19.44 1  0  3    1

In [ ]:
mtcars[ (mtcars$mpg > 20) & (mtcars$cyl == 6), ]