# Overview of Data Frame Operations

Data frames are the workhorse of R, so in this lecture we will basically be creating a "cheat sheet" of common operations used with data frames and R. This will be a very critical lecture so be sure to understand all of the material 

- Creating Data Frames
- Importing and Exporting Data
- Getting Information about Data Frame
- Referencing Cells
- Referencing Rows
- Referencing Columns
- Adding Rows
- Adding Columns
- Setting Column Names
- Selecting Multiple Rows
- Selecting Multiple Columns
- Dealing with Missing Dataa

## Creating Data Frames

Let's first create an empty data frame

In [1]:
empty <- data.frame() # empty data frame

# lets now create a vector 
c1 <-  runif(10)

#we can use the built in vector 'letters' to make the next vector
c2 <- letters[1:10]

# lets make our data frame and name the columns
df <- data.frame("numbers" = c1, "letters" = c2) 
df

   numbers    letters
1  0.39059836 a
2  0.08741041 b
3  0.02793079 c
4  0.82038038 d
5  0.99909567 e
6  0.58412249 f
7  0.26511445 g
8  0.78301879 h
9  0.64013416 i
10 0.90595798 j

## Importing and Exporting Data

We will go over this more later

In [2]:
#d2 <- read.csv('some_file.csv')

#For Excel File
#load the readxl package
#library(readxl)

#Call info from the sheets using read.excel
#df <- read_excel('some_file.xlsx', sheet = 'Sheet1')

# Output to CSV
#write.csv(df,file='some_file.csv')

## Getting Information about Data Frames

In [3]:
# Count the numbers of rows and columns
nrow(df)
ncol(df)

[1] 10

[1] 2

In [4]:
# Column and Row Names
colnames(df)
rownames(df) # this will return the index value, not the random numbers

[1] "numbers" "letters"

 [1] "1"  "2"  "3"  "4"  "5"  "6"  "7"  "8"  "9"  "10"

## Referencing Cells

You can think of the basics as using two sets of brackets for a single cell and using a signle set of brackets for multiple cells. Here's an example

In [5]:
vec <- df[[5, 2]] # get cell by [[row,col]] num

newdf <- df[1:5, 1:2] # get multiple cells in new df

df[[2, 'numbers']] <- 99999 # reassign a single cell

newdf
df

  numbers    letters
1 0.39059836 a
2 0.08741041 b
3 0.02793079 c
4 0.82038038 d
5 0.99909567 e

   numbers      letters
1  3.905984e-01 a
2  9.999900e+04 b
3  2.793079e-02 c
4  8.203804e-01 d
5  9.990957e-01 e
6  5.841225e-01 f
7  2.651145e-01 g
8  7.830188e-01 h
9  6.401342e-01 i
10 9.059580e-01 j

## Referencing Rows
Usually you'll want to use the [row, ] function

In [6]:
rowdf <- df[1,]
rowdf

  numbers   letters
1 0.3905984 a

If you want to get a row as a vector, use the following notation

In [7]:
vrow <- as.numeric(as.vector(df[1,]))
vrow # a is assigned to a numeric

[1] 0.3905984 1.0000000

## Referencing Columns
Most column references will return a vector

In [8]:
cars <- mtcars
head(cars)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [9]:
colv1 <- cars$mpg # returns a vector
colv1

colv2 <- cars[, 'mpg'] # returns vector
colv2

colv3<- cars[, 1] # a is int or string
colv3

colv4 <- cars[['mpg']] # returns a vector
colv4

 [1] 21.0 21.0 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 17.8 16.4 17.3 15.2 10.4
[16] 10.4 14.7 32.4 30.4 33.9 21.5 15.5 15.2 13.3 19.2 27.3 26.0 30.4 15.8 19.7
[31] 15.0 21.4

 [1] 21.0 21.0 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 17.8 16.4 17.3 15.2 10.4
[16] 10.4 14.7 32.4 30.4 33.9 21.5 15.5 15.2 13.3 19.2 27.3 26.0 30.4 15.8 19.7
[31] 15.0 21.4

 [1] 21.0 21.0 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 17.8 16.4 17.3 15.2 10.4
[16] 10.4 14.7 32.4 30.4 33.9 21.5 15.5 15.2 13.3 19.2 27.3 26.0 30.4 15.8 19.7
[31] 15.0 21.4

 [1] 21.0 21.0 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 17.8 16.4 17.3 15.2 10.4
[16] 10.4 14.7 32.4 30.4 33.9 21.5 15.5 15.2 13.3 19.2 27.3 26.0 30.4 15.8 19.7
[31] 15.0 21.4

In [10]:
# Ways of Returning Data Frames
mpgdf <- cars['mpg'] # returns 1 col df
head(mpgdf)

mpgdf2 <- cars[1] # returns 1 col df
head(mpgdf2)

                  mpg
Mazda RX4         21.0
Mazda RX4 Wag     21.0
Datsun 710        22.8
Hornet 4 Drive    21.4
Hornet Sportabout 18.7
Valiant           18.1

                  mpg
Mazda RX4         21.0
Mazda RX4 Wag     21.0
Datsun 710        22.8
Hornet 4 Drive    21.4
Hornet Sportabout 18.7
Valiant           18.1

## Adding Rows

In [11]:
# Both arguments are DFs
df2 <- data.frame("numbers" = 2000, "letters" = 'new row')
df2

  numbers letters
1 2000    new row

Use rbind to bind the new row!

In [12]:
dfnew <- rbind(df,df2)
dfnew

   numbers      letters
1  3.905984e-01 a
2  9.999900e+04 b
3  2.793079e-02 c
4  8.203804e-01 d
5  9.990957e-01 e
6  5.841225e-01 f
7  2.651145e-01 g
8  7.830188e-01 h
9  6.401342e-01 i
10 9.059580e-01 j
11 2.000000e+03 new row

## Adding Columns

In [13]:
df$newcol <- rep(NA, nrow(df)) # NA column
df

   numbers      letters newcol
1  3.905984e-01 a       NA
2  9.999900e+04 b       NA
3  2.793079e-02 c       NA
4  8.203804e-01 d       NA
5  9.990957e-01 e       NA
6  5.841225e-01 f       NA
7  2.651145e-01 g       NA
8  7.830188e-01 h       NA
9  6.401342e-01 i       NA
10 9.059580e-01 j       NA

In [14]:
df[, 'copy.of.letters'] <- df$letters # copy a col
df

   numbers      letters newcol copy.of.letters
1  3.905984e-01 a       NA     a
2  9.999900e+04 b       NA     b
3  2.793079e-02 c       NA     c
4  8.203804e-01 d       NA     d
5  9.990957e-01 e       NA     e
6  5.841225e-01 f       NA     f
7  2.651145e-01 g       NA     g
8  7.830188e-01 h       NA     h
9  6.401342e-01 i       NA     i
10 9.059580e-01 j       NA     j

We can also use equations

In [15]:
df[['numbers x numbers']] <- df$numbers * df$numbers
df

   numbers      letters newcol copy.of.letters numbers x numbers
1  3.905984e-01 a       NA     a               1.525671e-01
2  9.999900e+04 b       NA     b               9.999800e+09
3  2.793079e-02 c       NA     c               7.801291e-04
4  8.203804e-01 d       NA     d               6.730240e-01
5  9.990957e-01 e       NA     e               9.981922e-01
6  5.841225e-01 f       NA     f               3.411991e-01
7  2.651145e-01 g       NA     g               7.028567e-02
8  7.830188e-01 h       NA     h               6.131184e-01
9  6.401342e-01 i       NA     i               4.097717e-01
10 9.059580e-01 j       NA     j               8.207599e-01

#We can also use cbind() which makes things easier

In [16]:
df <- cbind(df, df$letters)
df

   numbers      letters newcol copy.of.letters numbers x numbers df$letters
1  3.905984e-01 a       NA     a               1.525671e-01      a
2  9.999900e+04 b       NA     b               9.999800e+09      b
3  2.793079e-02 c       NA     c               7.801291e-04      c
4  8.203804e-01 d       NA     d               6.730240e-01      d
5  9.990957e-01 e       NA     e               9.981922e-01      e
6  5.841225e-01 f       NA     f               3.411991e-01      f
7  2.651145e-01 g       NA     g               7.028567e-02      g
8  7.830188e-01 h       NA     h               6.131184e-01      h
9  6.401342e-01 i       NA     i               4.097717e-01      i
10 9.059580e-01 j       NA     j               8.207599e-01      j

## Setting Column Names

In [17]:
# Rename second column
colnames(df)[2] <- 'SECOND COLUMN NEW NAME'
df

# Rename all at once with a vector
colnames(df) <- c('col.name.1', 'col.name.2', 'newcol', 'copy.of.col2' ,'col1.times.2')
df

   numbers      SECOND COLUMN NEW NAME newcol copy.of.letters numbers x numbers
1  3.905984e-01 a                      NA     a               1.525671e-01
2  9.999900e+04 b                      NA     b               9.999800e+09
3  2.793079e-02 c                      NA     c               7.801291e-04
4  8.203804e-01 d                      NA     d               6.730240e-01
5  9.990957e-01 e                      NA     e               9.981922e-01
6  5.841225e-01 f                      NA     f               3.411991e-01
7  2.651145e-01 g                      NA     g               7.028567e-02
8  7.830188e-01 h                      NA     h               6.131184e-01
9  6.401342e-01 i                      NA     i               4.097717e-01
10 9.059580e-01 j                      NA     j               8.207599e-01
   df$letters
1  a
2  b
3  c
4  d
5  e
6  f
7  g
8  h
9  i
10 j

   col.name.1   col.name.2 newcol copy.of.col2 col1.times.2 <NA>
1  3.905984e-01 a          NA     a            1.525671e-01 a
2  9.999900e+04 b          NA     b            9.999800e+09 b
3  2.793079e-02 c          NA     c            7.801291e-04 c
4  8.203804e-01 d          NA     d            6.730240e-01 d
5  9.990957e-01 e          NA     e            9.981922e-01 e
6  5.841225e-01 f          NA     f            3.411991e-01 f
7  2.651145e-01 g          NA     g            7.028567e-02 g
8  7.830188e-01 h          NA     h            6.131184e-01 h
9  6.401342e-01 i          NA     i            4.097717e-01 i
10 9.059580e-01 j          NA     j            8.207599e-01 j

## Selecting Multiple Rows

In [18]:
first.ten.rows <- df[1:10, ] # Same as head(df, 10)
first.ten.rows

   col.name.1   col.name.2 newcol copy.of.col2 col1.times.2 <NA>
1  3.905984e-01 a          NA     a            1.525671e-01 a
2  9.999900e+04 b          NA     b            9.999800e+09 b
3  2.793079e-02 c          NA     c            7.801291e-04 c
4  8.203804e-01 d          NA     d            6.730240e-01 d
5  9.990957e-01 e          NA     e            9.981922e-01 e
6  5.841225e-01 f          NA     f            3.411991e-01 f
7  2.651145e-01 g          NA     g            7.028567e-02 g
8  7.830188e-01 h          NA     h            6.131184e-01 h
9  6.401342e-01 i          NA     i            4.097717e-01 i
10 9.059580e-01 j          NA     j            8.207599e-01 j

In [19]:
everything.but.row.two <- df[-2, ]
everything.but.row.two

   col.name.1 col.name.2 newcol copy.of.col2 col1.times.2 <NA>
1  0.39059836 a          NA     a            0.1525670777 a
3  0.02793079 c          NA     c            0.0007801291 c
4  0.82038038 d          NA     d            0.6730239700 d
5  0.99909567 e          NA     e            0.9981921577 e
6  0.58412249 f          NA     f            0.3411990799 f
7  0.26511445 g          NA     g            0.0702856734 g
8  0.78301879 h          NA     h            0.6131184210 h
9  0.64013416 i          NA     i            0.4097717365 i
10 0.90595798 j          NA     j            0.8207598701 j

In [20]:
# Conditional Selection
sub1 <- df[ (df$col.name.1 > 8 & df$col1.times.2 > 10), ]
sub1

sub2 <- subset(df, col.name.1 > 8 & col1.times.2 > 10)
sub2

  col.name.1 col.name.2 newcol copy.of.col2 col1.times.2 <NA>
2 99999      b          NA     b            9999800001   b

  col.name.1 col.name.2 newcol copy.of.col2 col1.times.2 <NA>
2 99999      b          NA     b            9999800001   b

## Selecting Multiple Columns

In [21]:
df[, c(1, 2, 3)] #Grab cols 1 2 3

   col.name.1   col.name.2 newcol
1  3.905984e-01 a          NA
2  9.999900e+04 b          NA
3  2.793079e-02 c          NA
4  8.203804e-01 d          NA
5  9.990957e-01 e          NA
6  5.841225e-01 f          NA
7  2.651145e-01 g          NA
8  7.830188e-01 h          NA
9  6.401342e-01 i          NA
10 9.059580e-01 j          NA

In [22]:
df[, c('col.name.1', 'col1.times.2')] # by name

   col.name.1   col1.times.2
1  3.905984e-01 1.525671e-01
2  9.999900e+04 9.999800e+09
3  2.793079e-02 7.801291e-04
4  8.203804e-01 6.730240e-01
5  9.990957e-01 9.981922e-01
6  5.841225e-01 3.411991e-01
7  2.651145e-01 7.028567e-02
8  7.830188e-01 6.131184e-01
9  6.401342e-01 4.097717e-01
10 9.059580e-01 8.207599e-01

In [23]:
df[, -1] # keep all but first column

   col.name.2 newcol copy.of.col2 col1.times.2 <NA>
1  a          NA     a            1.525671e-01 a
2  b          NA     b            9.999800e+09 b
3  c          NA     c            7.801291e-04 c
4  d          NA     d            6.730240e-01 d
5  e          NA     e            9.981922e-01 e
6  f          NA     f            3.411991e-01 f
7  g          NA     g            7.028567e-02 g
8  h          NA     h            6.131184e-01 h
9  i          NA     i            4.097717e-01 i
10 j          NA     j            8.207599e-01 j

In [24]:
df[, -c(1, 3)] # drop cols 1 and 3

   col.name.2 copy.of.col2 col1.times.2 <NA>
1  a          a            1.525671e-01 a
2  b          b            9.999800e+09 b
3  c          c            7.801291e-04 c
4  d          d            6.730240e-01 d
5  e          e            9.981922e-01 e
6  f          f            3.411991e-01 f
7  g          g            7.028567e-02 g
8  h          h            6.131184e-01 h
9  i          i            4.097717e-01 i
10 j          j            8.207599e-01 j

## Dealing with Missing Data
Dealing with missing data is a very important skill to know when working with data frames!

In [25]:
any(is.na(mtcars)) # detect anywhere in df

[1] FALSE

In [26]:
#We have an empty column in df
any(is.na(df)) # anywhere in col
df

[1] TRUE

   col.name.1   col.name.2 newcol copy.of.col2 col1.times.2 <NA>
1  3.905984e-01 a          NA     a            1.525671e-01 a
2  9.999900e+04 b          NA     b            9.999800e+09 b
3  2.793079e-02 c          NA     c            7.801291e-04 c
4  8.203804e-01 d          NA     d            6.730240e-01 d
5  9.990957e-01 e          NA     e            9.981922e-01 e
6  5.841225e-01 f          NA     f            3.411991e-01 f
7  2.651145e-01 g          NA     g            7.028567e-02 g
8  7.830188e-01 h          NA     h            6.131184e-01 h
9  6.401342e-01 i          NA     i            4.097717e-01 i
10 9.059580e-01 j          NA     j            8.207599e-01 j

In [27]:
# delete selected missing data rows
df <- df[!is.na(df$col), ]

In [28]:
# replace NAs with something else
df[is.na(df)] <- 0 # works on whole df

In [29]:
df$col[is.na(df$col)] <- 999 # For a selected column