In [1]:
# lets install some packages to help us with Excel files

In [4]:
install.packages("readxl") #use this line to install the packages you'll need

In [37]:
#library(readxl)

In [6]:
excel_sheets('Sample-Sales-Data.xlsx')

[1] "Sheet1"

In [17]:
df <- read_excel('Sample-Sales-Data.xlsx', sheet = "Sheet1")
head(df)

  Postcode Sales_Rep_ID Sales_Rep_Name Year Value
1 2121     456          Jane           2011 84219.50
2 2092     789          Ashish         2012 28322.19
3 2128     456          Jane           2013 81879.00
4 2073     123          John           2011 44491.14
5 2134     789          Ashish         2012 71837.72
6 2162     123          John           2013 64531.55

In [16]:
summary(df)

   Postcode          Sales_Rep_ID Sales_Rep_Name          Year
 Length:390         Min.   :123   Length:390         Min.   :2011
 Class :character   1st Qu.:123   Class :character   1st Qu.:2011
 Mode  :character   Median :456   Mode  :character   Median :2012
                    Mean   :456                      Mean   :2012
                    3rd Qu.:789                      3rd Qu.:2013
                    Max.   :789                      Max.   :2013
     Value
 Min.   :  106.4
 1st Qu.:26101.5
 Median :47447.4
 Mean   :49229.4
 3rd Qu.:72277.8
 Max.   :99878.5

In [18]:
### lets say we want to load the entire workbook

In [19]:
entire.workbook <- lapply(excel_sheets('Sample-Sales-Data.xlsx'),read_excel, path="Sample-Sales-Data.xlsx" )

In [20]:
class(entire.workbook)

[1] "list"

In [21]:
### if we want to write to excel files, we will need another package

In [36]:
#install.packages('xlsx')
#install.packages('rJava')
#install.packages('xlsxjars')
#library(xlsx)

In [33]:
write.xlsx(mtcars,"output_example.xlsx")