# Excel Files with R

R has the ability to read and write to excel, which makes it very convenient to work on the same datasets as business analysts or colleagues who only know excel, meaning they can work with excel and hand you the files, then you work with them in R!

To do this, we need the [readxl](https://cran.r-project.org/web/packages/readxl/readxl.pdf) package for R. Remember you can download it by using:

In [4]:
install.packages("readxl")

You may need to specify repos="http://cran.rstudio.com/" as an argument in the packages call if you get a mirror error.

Let's see how we can use this:

In [3]:
library(readxl)

In [4]:
excel_sheets('Sample-Sales-Data.xlsx') # Reads the name of the sheets in the file

[1] "Sheet1"

In [5]:
df <- read_excel('Sample-Sales-Data.xlsx', sheet = "Sheet1")
head(df)

  Postcode Sales_Rep_ID Sales_Rep_Name Year Value
1 2121     456          Jane           2011 84219.50
2 2092     789          Ashish         2012 28322.19
3 2128     456          Jane           2013 81879.00
4 2073     123          John           2011 44491.14
5 2134     789          Ashish         2012 71837.72
6 2162     123          John           2013 64531.55

Now new can treat the file as we would a normal data frame.

In [9]:
summary(df)
str(df)
sum(df['Value'])

   Postcode          Sales_Rep_ID Sales_Rep_Name          Year
 Length:390         Min.   :123   Length:390         Min.   :2011
 Class :character   1st Qu.:123   Class :character   1st Qu.:2011
 Mode  :character   Median :456   Mode  :character   Median :2012
                    Mean   :456                      Mean   :2012
                    3rd Qu.:789                      3rd Qu.:2013
                    Max.   :789                      Max.   :2013
     Value
 Min.   :  106.4
 1st Qu.:26101.5
 Median :47447.4
 Mean   :49229.4
 3rd Qu.:72277.8
 Max.   :99878.5

Classes 'tbl_df', 'tbl' and 'data.frame':	390 obs. of  5 variables:
 $ Postcode      : chr  "2121" "2092" "2128" "2073" ...
 $ Sales_Rep_ID  : num  456 789 456 123 789 123 456 789 123 789 ...
 $ Sales_Rep_Name: chr  "Jane" "Ashish" "Jane" "John" ...
 $ Year          : num  2011 2012 2013 2011 2012 ...
 $ Value         : num  84219 28322 81879 44491 71838 ...

[1] 19199461

If you had multiple sheets that you wanted to import into a list, you could do this with __lapply()__:

In [10]:
entire_workbook <- lapply(excel_sheets("Sample-Sales-Data.xlsx"), 
                      read_excel, 
                      path = "Sample-Sales-Data.xlsx")

In [11]:
# Show entire list:
entire_workbook

[[1]]
# A tibble: 390 x 5
   Postcode Sales_Rep_ID Sales_Rep_Name  Year  Value
   <chr>           <dbl> <chr>          <dbl>  <dbl>
 1 2121              456 Jane            2011 84219.
 2 2092              789 Ashish          2012 28322.
 3 2128              456 Jane            2013 81879.
 4 2073              123 John            2011 44491.
 5 2134              789 Ashish          2012 71838.
 6 2162              123 John            2013 64532.
 7 2093              456 Jane            2011 58963.
 8 2042              789 Ashish          2012 27522.
 9 2198              123 John            2013 77985.
10 2043              789 Ashish          2011 49546.
# ... with 380 more rows

# Writing to Excel
Writing to excel requires the xlsx package:

In [15]:
#install.packages('xlsx',repos="http://cran.rstudio.com/")
library(rJava)
library(xlsxjars)
library(xlsx)

In [16]:
df <- data.frame(matrix(1:10))
write.xlsx(df, "output.xlsx")

In [17]:
read_excel('output.xlsx')

New names:
* `` -> ...1

   ...1 matrix.1.10.
1  1     1
2  2     2
3  3     3
4  4     4
5  5     5
6  6     6
7  7     7
8  8     8
9  9     9
10 10   10

That's it for the basics of reading and writing with excel files, depending on your excel files, you may need to use __help()__ to find out additional arguments you may need to get exactly what you want. Because some utilities don't use or export Excel files, we will stick to using csv files for the course!