# Dplyr Exercises

Perform the following operations using only the __dplyr__ library. We will be reviewing the following operations

- __filter()__
- __slice()__
- __arrange()__
- __select()__
- __rename()__
- __distinct()__
- __mutate()__
- __transmute()__
- __summarise()__
- __sample_n()__
- __sample_fract()__

In [10]:
library(dplyr)

We will use the mtcars dataframe for these exercise!

In [2]:
df <- head(mtcars,12)

#### 1) Return the rows of cars that have an mpg value greater than 20 and have 6 cyilnders

In [3]:
filter(mtcars, mpg > 20 , cyl == 6)

  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
1 21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
2 21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
3 21.4 6   258  110 3.08 3.215 19.44 1  0  3    1

#### 2) Reorder the data frame by cyl first, then by descending wt

In [4]:
arrange(df, cyl, desc(wt))

   mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
1  24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
2  22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
3  22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
4  18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
5  19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
6  17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
7  21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
8  21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
9  21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
10 16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
11 14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
12 18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2

#### 3) Select the columns mpg and hp

In [5]:
select(df, mpg, hp)

                  mpg  hp
Mazda RX4         21.0 110
Mazda RX4 Wag     21.0 110
Datsun 710        22.8  93
Hornet 4 Drive    21.4 110
Hornet Sportabout 18.7 175
Valiant           18.1 105
Duster 360        14.3 245
Merc 240D         24.4  62
Merc 230          22.8  95
Merc 280          19.2 123
Merc 280C         17.8 123
Merc 450SE        16.4 180

#### 4) Select the distinct values of the gear column

In [6]:
distinct(mtcars, gear)

  gear
1 4
2 3
3 5

#### 5) Create a new column called "Performance" which is calculated by hp divided by wt.

In [7]:
mutate(df, Performance = (hp / wt))

   mpg  cyl disp  hp  drat wt    qsec  vs am gear carb Performance
1  21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4    41.98473
2  21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4    38.26087
3  22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1    40.08621
4  21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1    34.21462
5  18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2    50.87209
6  18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1    30.34682
7  14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4    68.62745
8  24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2    19.43574
9  22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2    30.15873
10 19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4    35.75581
11 17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4    35.75581
12 16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3    44.22604

#### 6) Find the mean mpg value

In [8]:
summarise(mtcars,avg_mpg=mean(mpg))

  avg_mpg
1 20.09062

#### 7) Use pipe operators to get the mean of hp value for cars with 6 cylinders

In [9]:
mtcars %>% filter(cyl == 6) %>%  summarise(avg_hp = mean(hp))

  avg_hp
1 122.2857

Great job!