# Using Tidyr

In [1]:
# install.packages('tidyr')
# install.packages('data.table')

In [44]:
#library(dplyr)
#library(tidyr)
#library(data.table)

There are 4 useful functions that come with tidyr
- __gather()__
- __spread()__
- __seperate()__
- __unite()___

# __gather()__

First, __gather()__ collapses multiple column into key pair values.

Let's generate some data to experiment with __gather()__

Let's generate the quarterly returns for a company

In [35]:
comp <- c("AAPL","AAPL","AAPL","MSFT","MSFT","MSFT","GOOG","GOOG","GOOG")
yr <- c(1998,1999,2000,1998,1999,2000,1998,1999,2000)
q1 <- c(runif(9, min =0, max = 100))
q2 <- c(runif(9, min =0, max = 100))
q3 <- c(runif(9, min =0, max = 100))
q4 <- c(runif(9, min =0, max = 100))

df <- data.frame(comp=comp,year=yr,Qrt1 = q1, Qrt2 = q2, Qrt3 = q3, Qrt4 = q4)

In [36]:
df

  comp year Qrt1      Qrt2     Qrt3     Qrt4
1 AAPL 1998 38.289722 52.23846 44.81183 88.82678
2 AAPL 1999 61.278695 47.01802 16.90068 51.05484
3 AAPL 2000 88.658062 41.82379 74.45996 37.38467
4 MSFT 1998 53.469995 14.70906 66.30016 77.82373
5 MSFT 1999 62.376601 45.61223 37.15417 62.12949
6 MSFT 2000 60.255630 35.33815 80.83301 22.32887
7 GOOG 1998 38.093017 57.26420 46.42579 90.60110
8 GOOG 1999 21.026195 33.45226 65.89276 28.03802
9 GOOG 2000  6.846886 13.19288 41.64382 79.12544

In [37]:
dfnew <-gather(df,Quarter,Revenue,Qrt1:Qrt4)
# dfnew <- df %>% gather(Quarter,Revenue,Qrt1:Qrt4) We can also use the pipe operator if we want
dfnew

   comp year Quarter Revenue
1  AAPL 1998 Qrt1    38.289722
2  AAPL 1999 Qrt1    61.278695
3  AAPL 2000 Qrt1    88.658062
4  MSFT 1998 Qrt1    53.469995
5  MSFT 1999 Qrt1    62.376601
6  MSFT 2000 Qrt1    60.255630
7  GOOG 1998 Qrt1    38.093017
8  GOOG 1999 Qrt1    21.026195
9  GOOG 2000 Qrt1     6.846886
10 AAPL 1998 Qrt2    52.238457
11 AAPL 1999 Qrt2    47.018020
12 AAPL 2000 Qrt2    41.823789
13 MSFT 1998 Qrt2    14.709061
14 MSFT 1999 Qrt2    45.612228
15 MSFT 2000 Qrt2    35.338153
16 GOOG 1998 Qrt2    57.264201
17 GOOG 1999 Qrt2    33.452259
18 GOOG 2000 Qrt2    13.192877
19 AAPL 1998 Qrt3    44.811831
20 AAPL 1999 Qrt3    16.900682
21 AAPL 2000 Qrt3    74.459962
22 MSFT 1998 Qrt3    66.300162
23 MSFT 1999 Qrt3    37.154173
24 MSFT 2000 Qrt3    80.833013
25 GOOG 1998 Qrt3    46.425789
26 GOOG 1999 Qrt3    65.892759
27 GOOG 2000 Qrt3    41.643817
28 AAPL 1998 Qrt4    88.826781
29 AAPL 1999 Qrt4    51.054844
30 AAPL 2000 Qrt4    37.384673
31 MSFT 1998 Qrt4    77.823726
32 MSFT 1999 Qrt4    62.129490
33 MSFT 2000 Qrt4    22.328869
34 GOOG 1998 Qrt4    90.601097
35 GOOG 1999 Qrt4    28.038024
36 GOOG 2000 Qrt4    79.125440

We see that all the quarter values are now cells! This can be very powerful when you may want to turn your data into a time series!

In [38]:
arrange(dfnew, comp,year,Quarter) # We can now sort the data by year and quarter using arrange!

   comp year Quarter Revenue
1  AAPL 1998 Qrt1    38.289722
2  AAPL 1998 Qrt2    52.238457
3  AAPL 1998 Qrt3    44.811831
4  AAPL 1998 Qrt4    88.826781
5  AAPL 1999 Qrt1    61.278695
6  AAPL 1999 Qrt2    47.018020
7  AAPL 1999 Qrt3    16.900682
8  AAPL 1999 Qrt4    51.054844
9  AAPL 2000 Qrt1    88.658062
10 AAPL 2000 Qrt2    41.823789
11 AAPL 2000 Qrt3    74.459962
12 AAPL 2000 Qrt4    37.384673
13 GOOG 1998 Qrt1    38.093017
14 GOOG 1998 Qrt2    57.264201
15 GOOG 1998 Qrt3    46.425789
16 GOOG 1998 Qrt4    90.601097
17 GOOG 1999 Qrt1    21.026195
18 GOOG 1999 Qrt2    33.452259
19 GOOG 1999 Qrt3    65.892759
20 GOOG 1999 Qrt4    28.038024
21 GOOG 2000 Qrt1     6.846886
22 GOOG 2000 Qrt2    13.192877
23 GOOG 2000 Qrt3    41.643817
24 GOOG 2000 Qrt4    79.125440
25 MSFT 1998 Qrt1    53.469995
26 MSFT 1998 Qrt2    14.709061
27 MSFT 1998 Qrt3    66.300162
28 MSFT 1998 Qrt4    77.823726
29 MSFT 1999 Qrt1    62.376601
30 MSFT 1999 Qrt2    45.612228
31 MSFT 1999 Qrt3    37.154173
32 MSFT 1999 Qrt4    62.129490
33 MSFT 2000 Qrt1    60.255630
34 MSFT 2000 Qrt2    35.338153
35 MSFT 2000 Qrt3    80.833013
36 MSFT 2000 Qrt4    22.328869

## spread()

spread() is the compliment of gather, where it will take unique cell values and add them to a unique column

In [39]:
stocks <- data.frame(
    time = as.Date('2009-01-01') + 0:9,
    X = rnorm(10, 0, 1),
    Y = rnorm(10, 0, 2),
    Z = rnorm(10, 0, 4)
)
stocks

   time       X          Y          Z
1  2009-01-01  1.8194235 -2.6174233 -4.3081968
2  2009-01-02  0.3202275  0.9979545  7.8630150
3  2009-01-03  0.4859322  0.5618616  3.9449175
4  2009-01-04 -0.3472513  1.9344414  0.2027666
5  2009-01-05 -0.2249820  1.4273329  4.6042848
6  2009-01-06 -1.6003560 -2.5515219 -3.6646246
7  2009-01-07 -0.5982273 -1.2490334  1.7425351
8  2009-01-08  0.9870408  2.0218054 -1.4892086
9  2009-01-09  1.1778108  0.3066746 -1.9942684
10 2009-01-10  0.2733784  2.2359184  0.1233782

In [40]:
stocks.gathered <- stocks %>% gather(stock,prices, X,Y,Z)

In [41]:
stocks.gathered

   time       stock prices
1  2009-01-01 X      1.8194235
2  2009-01-02 X      0.3202275
3  2009-01-03 X      0.4859322
4  2009-01-04 X     -0.3472513
5  2009-01-05 X     -0.2249820
6  2009-01-06 X     -1.6003560
7  2009-01-07 X     -0.5982273
8  2009-01-08 X      0.9870408
9  2009-01-09 X      1.1778108
10 2009-01-10 X      0.2733784
11 2009-01-01 Y     -2.6174233
12 2009-01-02 Y      0.9979545
13 2009-01-03 Y      0.5618616
14 2009-01-04 Y      1.9344414
15 2009-01-05 Y      1.4273329
16 2009-01-06 Y     -2.5515219
17 2009-01-07 Y     -1.2490334
18 2009-01-08 Y      2.0218054
19 2009-01-09 Y      0.3066746
20 2009-01-10 Y      2.2359184
21 2009-01-01 Z     -4.3081968
22 2009-01-02 Z      7.8630150
23 2009-01-03 Z      3.9449175
24 2009-01-04 Z      0.2027666
25 2009-01-05 Z      4.6042848
26 2009-01-06 Z     -3.6646246
27 2009-01-07 Z      1.7425351
28 2009-01-08 Z     -1.4892086
29 2009-01-09 Z     -1.9942684
30 2009-01-10 Z      0.1233782

In [42]:
stocks.gathered %>% spread(stock,prices)

   time       X          Y          Z
1  2009-01-01  1.8194235 -2.6174233 -4.3081968
2  2009-01-02  0.3202275  0.9979545  7.8630150
3  2009-01-03  0.4859322  0.5618616  3.9449175
4  2009-01-04 -0.3472513  1.9344414  0.2027666
5  2009-01-05 -0.2249820  1.4273329  4.6042848
6  2009-01-06 -1.6003560 -2.5515219 -3.6646246
7  2009-01-07 -0.5982273 -1.2490334  1.7425351
8  2009-01-08  0.9870408  2.0218054 -1.4892086
9  2009-01-09  1.1778108  0.3066746 -1.9942684
10 2009-01-10  0.2733784  2.2359184  0.1233782

In [43]:
spread(dfnew,comp,Revenue)

   year Quarter AAPL     GOOG      MSFT
1  1998 Qrt1    38.28972 38.093017 53.47000
2  1998 Qrt2    52.23846 57.264201 14.70906
3  1998 Qrt3    44.81183 46.425789 66.30016
4  1998 Qrt4    88.82678 90.601097 77.82373
5  1999 Qrt1    61.27869 21.026195 62.37660
6  1999 Qrt2    47.01802 33.452259 45.61223
7  1999 Qrt3    16.90068 65.892759 37.15417
8  1999 Qrt4    51.05484 28.038024 62.12949
9  2000 Qrt1    88.65806  6.846886 60.25563
10 2000 Qrt2    41.82379 13.192877 35.33815
11 2000 Qrt3    74.45996 41.643817 80.83301
12 2000 Qrt4    37.38467 79.125440 22.32887

Look at that beautiful, tidy data!

# separate() 

Separate allows us to turn a single column into multiple columns

In [49]:
df <- data.frame(new.col=c(NA,"a.x","b.y","c.z"))
df

  new.col
1 NA
2 a.x
3 b.y
4 c.z

In [51]:
separate(df,new.col,c('ABC',"XYZ"))

  ABC XYZ
1 NA  NA
2 a   x
3 b   y
4 c   z

In [53]:
df <- data.frame(new.col=c(NA,"a-x","b-y","c-z"))
df

  new.col
1 NA
2 a-x
3 b-y
4 c-z

In [61]:
df.sep <- separate(data = df,col = new.col, into = c("abc","xyz"), sep = '-') # We don't need the dash due to character being non-alpha numeric
df.sep

  abc xyz
1 NA  NA
2 a   x
3 b   y
4 c   z

# unite()

unite() is the compliment of separate and will join multiple columns together

In [63]:
unite(df.sep,new.joined.column,abc,xyz, sep = "----")

  new.joined.column
1 NA----NA
2 a----x
3 b----y
4 c----z